.bg {
    background: #fafafa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.app_holder {
    display: flex;
    flex-wrap: wrap;
}  

@media screen and (max-width: 768px) {
    .app_holder {
        background: #fff;
    }
}